@import "../../styles/_variables"
@import "../../styles/_mixins"


.computer
    width: inherit
    +flex-parent($display: flex, $direction: column, $wrap: nowrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0)
    &__monitor
        +flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0)
        height: 450px
        width: $monitor-width
        max-width: $monitor-max-width
        border-top: 11px solid $dark-gray
        border-left: 11px solid $dark-gray
        border-right: 11px solid $dark-gray
        border-top-left-radius: 50px
        border-top-right-radius: 50px
        +mobile
            border: 5px solid $dark-gray
            border-radius: 50px
            +flex-parent($display: flex, $direction: column, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0)
        & > *
            +flex(1,0,100%)
            padding: 0 20px 
    &__header
        text-shadow: $text-shadow
        font-family: $header-font
        font-size: 80px
        font-weight: bolder
        color: $green
        letter-spacing: 6px
        word-spacing: 10px
        +mobile
            font-size: 50px
            +flex(2,0,20%)
    &__subtitle
        +flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0)
        font-family: $main-font
        font-size: $text-header-size
        font-weight: bold
        letter-spacing: 2px
        word-spacing: 5px
        line-height: calc(#{$text-header-size + 10px })
        +mobile
            font-size: $text-secondary-size
            +flex(0,0,20%)
            display: inline
            
    &__base
        height: 100px
        width: $base-width
        max-width: $base-max-width
        border: 11px solid $dark-gray
        border-radius: 50px
        position: relative
        +mobile
            border: none
            height: 50px
.tag
    text-align: left
    +mobile
        +flex(1,0,5%)
        width: 100%
.tag:last-child
    text-align: right  
.play
    height: 50px
    width: 50px
    fill: $dark-gray
    position: absolute
    border-radius: 50%
    left: 10%
    bottom: 50%
    transform: translateY(50%)
    transition: all 0.3s linear 
    cursor: pointer
    +mobile
        left: 20%
        bottom: 190%
    &:hover
        fill: $navy-blue
    &:active
        transform: scale(0.97) translateY(50%)  
      
.blink
    display: inline-block
    width: 10px