@import "../../styles/_variables"
@import "../../styles/_mixins"

.gallery
    +flex-parent(flex, row, wrap, center, center, 40px, 40px)
.gallery-card
    min-width: 200px
    max-width: 300px
    height: 350px
    background-color: $light-gray
    +flex(1, 0, 30%)
    position: relative
    transition: all 0.3s linear 0s
    &__background-image
        min-width: inherit
        max-width: inherit
        height: inherit
        background-image: #cccccc
        background-position: top
        background-repeat: no-repeat
        background-size: cover
        opacity: 0.2
        z-index: 1
    &__content
        position: absolute
        min-width: inherit
        max-width: inherit
        height: 80%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        +flex-parent(flex, column, wrap, center, center, 0, 0)  
        .content-text 
            +flex(2, 0, 30%)
            +flex-parent
            font-size: $text-header-size
            font-weight: bold
        svg, #githubIcon
            +flex(1, 0, 20%)
            width: map-get($icon-size, verySmallSize)
            fill: $dark-gray
            cursor: pointer
            transition: all 0.3s linear 0s
            &:hover
                fill: $pumpkin            
    &:hover
        transform: scale(1.05)
        background-color: rgb( $pumpkin, 0.1 )
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15)
        .content-text 
            color: $pumpkin
       
             
       
           
             

    

            


        
