@import "_variables"
  
= flex-parent($display: flex, $direction: row, $wrap: wrap, $justify-content: center, $align-items: center, $gap-x: 0, $gap-y: 0)
  display: $display
  flex-flow: $direction $wrap
  justify-content: $justify-content
  align-items: $align-items
  gap: $gap-x $gap-y

= flex($grow: 0, $shrink: 1, $basis: auto)
  flex: $grow $shrink $basis


= reset-list
  margin: 0
  padding: 0
  list-style: none


= header
  font-family: $header-font
  font-size: $header-size
  font-weight: 700
  color: $green
  text-shadow: $text-shadow
  text-align: left
  padding: 120px 0px 60px 50px 

= text ( $padding: 50px)
  font-weight: 700
  font-size: $text-header-size
  text-align: left
  padding: $padding 0px $padding $padding 

= text-background($border-left:50px, $border-right: 0, $left: 0, $height: 100px)
  content: ""
  position: absolute
  top:50%
  left: $left
  transform: translate(0, -50% )
  width: 100vw
  height: $height
  background-color: $light-gray
  border-top-left-radius: $border-left
  border-bottom-left-radius: $border-left
  border-top-right-radius: $border-right
  border-bottom-right-radius: $border-right
  z-index: -1
  
= text-secondary
  line-height: 1.5
  font-size: $text-secondary-size
  text-align: justify 
  letter-spacing: 0.5px


//   @function translate-media-condition($c) {
//   $conditions: ("screen": "only screen",
//   "print": "only print",
//   "retina": "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
// );

//   @each $name,
//     $value in $v-breakpoint {
//     $_current-condition: (">#{$name}": "(min-width: #{$value + 1})",
//     "<#{$name}": "(max-width: #{$value})",
//   );
//     $conditions: map-merge($conditions, $_current-condition);
//   }

//   @return map-get($conditions, $c);
// }

// @mixin media($args...) {
//   $query: "";

//   @each $arg in $args {
//     $op: "";

//     @if ($query !="") {
//       $op: " and ";
//     }

//     $query: $query+$op+translate-media-condition($arg);
//   }

//   @media #{$query} {
//     @content;
//   }
// }

// usage:   @include media(">md") {...}

// use for:
// 1. top navigation
// 2. (about me) IllustrationWithText / Depiction
// 3. contact form