$screen-width: 80vw
    
$header-font: 'Encode Sans', sans-serif
$main-font: 'Public Sans', sans-serif
$font-size: 10px
$header-size: #{$font-size * 4} 
$header-mobile-size: #{$font-size * 3} 
$text-header-size: #{$font-size * 2.5} 
$text-secondary-size: #{$font-size * 1.8} 
$icon-text-size: #{$font-size * 2.3} 

$green: #0f0
$red: #f00
$blue: #00f
$dark-gray:#464646
$light-gray: #ebebeb
$white: #ededf4
$pumpkin: #EBE0F5
$wisteria: #cdb2e6
$purple-plum: #9353ca
$navy-blue: #3c1b88

$linear-backround: repeating-linear-gradient(45deg, $light-gray, $light-gray 5px, $pumpkin 5px, $pumpkin 10px)

$monitor-width: 70%
$base-width: 90%
$monitor-max-width: 700px
$base-max-width: calc(#{$monitor-max-width * ($base-width / $monitor-width)}) 

$text-shadow: 4px 4px 0px $blue, 7px 7px 0px $red

$padding: ('nav-element': 0 10px, 'icon': 20px 20px, 'technologies': 10px 0)

$text-margin: 100vw - $screen-width

$icon-size: ('bigSize': 300px, 'bigMobileSize': 250px, 'mediumSize': 200px, 'smallSize': 100px, 'mobileSmallSize': 80px, 'verySmallSize': 50px)