$screen-width: 80vw
    
$header-font: 'Encode Sans', sans-serif
$main-font: 'Public Sans', sans-serif
$font-size: 10px
$header-size: #{$font-size * 4} 
$header-mobile-size: #{$font-size * 3} 
$text-header-size: #{$font-size * 2.5} 
$text-secondary-size: #{$font-size * 1.8} 
$icon-text-size: #{$font-size * 2.3} 

$green: #00DDBF
$red: #B4728D
$blue: #166FDE
$dark-gray:#464646
$light-gray: #F2F8F7
$white: #F5FCFB
$pumpkin: #F8F2F4
$wisteria: #4aefdf
$purple-plum: #37dfbf
$navy-blue: #296F70

$linear-backround: repeating-linear-gradient(45deg, #edfdfb, #edfdfb 5px, $pumpkin 5px, $pumpkin 10px)

$monitor-width: 70%
$base-width: 90%
$monitor-max-width: 700px
$base-max-width: calc(#{$monitor-max-width * ($base-width / $monitor-width)}) 

$text-shadow: 4px 4px 0px $blue, 7px 7px 0px $red

$padding: ('nav-element': 0 10px, 'icon': 20px 20px, 'technologies': 10px 0)

$text-margin: 100vw - $screen-width

$icon-size: ('bigSize': 300px, 'bigMobileSize': 250px, 'mediumSize': 200px, 'smallSize': 100px, 'mobileSmallSize': 80px, 'verySmallSize': 50px)