@import "_variables"
@import "_mixins"
@import "_reset"

html 
  scroll-behavior: smooth
  overflow-x: hidden


body
  overflow-x: hidden
  font-family: $main-font
  font-size: $font-size
  color: $dark-gray
  margin: 0 auto

