@import "_variables"
@import "_mixins"


.section--myWork
    +flex-parent
    &__header
        +flex(1,0,100%)
        +header
    &__text
        +flex(1,0,100%)
        +text
        position: relative
        &::before
            +text-background
        &:last-of-type
            margin: 40px 0
            &::before
                +text-background(0, 50px, -$text-margin, 100px)
    &__articles
        +flex-parent(flex, row, wrap, center, center, 50px, 0)
        width: 80%
        margin: 50px 0
        .iconDiv
            +flex(1, 0, 30%)
            position: relative
            order: 4
 
            &:first-of-type
                order: 1
            &:last-of-type
                order: 5
            &::before
                position: absolute
                content: ""
                background-color: $light-gray
                height: map-get($icon-size, mediumSize)
                width: map-get($icon-size, mediumSize)
                border-radius: 50%
                transform: translate(-10%, 10%)
            svg
                height: map-get($icon-size, mediumSize)
                width: map-get($icon-size, mediumSize)
        
        p
            +flex(1, 0, 70%)
            width: 50%
            +text-secondary
            order: 3
            padding: 0 30px
            &:first-of-type
                order: 2
            &:last-of-type
                order: 6


.gallery
    +flex-parent(flex, row, wrap, center, center, 40px, 40px)
.gallery--card
    min-width: 200px
    max-width: 300px
    height: 350px
    background-color: $light-gray
    +flex(1, 0, 30%)
    position: relative
    &__background--image
        min-width: inherit
        max-width: inherit
        height: inherit
        background-color: #cccccc
        background-position: top
        background-repeat: no-repeat
        background-size: cover
        opacity: 0.2
    &__content
        position: absolute
        min-width: inherit
        max-width: inherit
        height: 80%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        +flex-parent(flex, column, wrap, center, center, 0, 0)  
        h4  
            +flex(2, 0, 30%)
            +flex-parent
            font-size: $text-header-size
            font-weight: bold
        svg
            +flex(1, 0, 20%)
            width: map-get($icon-size, verySmallSize)
            
       
           
             

    

            


        
