@import "_variables"
@import "_mixins"


.section--myWork
    +flex-parent
    &__header
        +flex(1,0,100%)
        +header
    &__text
        +flex(1,0,100%)
        +text
        position: relative
        &::before
            +text-background
        
    &__articles
        +flex-parent(flex, row, wrap, center, center, 30px, 0)
        width: 100%
        margin: 50px 0
        .iconDiv
            +flex(1, 0, 50%)
            position: relative
            order: 4
 
            &:first-of-type
                order: 1
            &:last-of-type
                order: 5
            &::before
                position: absolute
                content: ""
                background-color: $light-gray
                height: map-get($icon-size, mediumSize)
                width: map-get($icon-size, mediumSize)
                border-radius: 50%
                transform: translate(-10%, 10%)
            svg
                height: map-get($icon-size, mediumSize)
                width: map-get($icon-size, mediumSize)
        
        p
            +flex(1, 0, 50%)
            width: 50%
            font-size: $text-secondary-size
            text-align: justify    
            order: 3
            padding: 0 30px
            &:first-of-type
                order: 2
            &:last-of-type
                order: 6
            &::before
   

            


        
