@import "../../styles/_variables"
@import "../../styles/_mixins"
@import "../../styles/_keyframes"

.section-contact
    +flex-parent(flex, row, wrap, center, center, 0, 30px)
    margin-bottom: 70px
    &__header
        +flex(1, 0, 100%)
        +header
    &__text
        +flex(1, 0, 100%)
        +text-secondary
        padding: 0 5% 20px 5%
        +mobile
            padding: 0 20px 20px 20px
    &__data 
        +flex(1, 0, 30%)
        +flex-parent(flex, column, wrap, space-between, center, 20px, 0)
        min-width: 360px
        max-width: 450px
        
    &__img
        +flex(0, 0, 50%)
        +flex-parent(flex, row, wrap, center, center, 10px, 0)
        img
            width: 100%
            height: 100%

        +tablet
            +flex(0, 0, 40%)
            max-width: 450px
            max-height: 450px
            
        +mobile
            max-width: 450px
            max-height: 450px
            

.data-container
    +flex-parent(flex, row, wrap, flex-start, center, 10px, 20px)
    +flex(1, 0, 25%)
    width: 100%
    padding-left: 50px 
    cursor: pointer
    +mobile
        +flex-parent(flex, row, wrap, center, center, 10px, 20px)
        padding: 0 50px 
    &:hover
        .data
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both
            svg
                fill:$navy-blue
                .color
                    fill:$navy-blue
        .data__text
            text-decoration: underline
    &:active
        .data
            svg
                fill:$navy-blue
                .color
                    fill:$navy-blue
        .data__text
            text-decoration: underline
            color: $navy-blue
.data
    +flex(0, 0, 10%)
    +mobile
        +flex(0, 0, 100%)
    svg
        fill: $dark-gray
        height: map-get($icon-size, verySmallSize)
        width: map-get($icon-size, verySmallSize)
        .color
            fill: $dark-gray
    &__text
        max-width: 300px
        +flex(1, 0, 70%)
        justify-content: flex-start
        +text-secondary
        font-weight: bolder
        color: $dark-gray
        +mobile
            +flex-parent
        a
            word-wrap: break-word
        
  



   

        


    

            


        
