@import "../../styles/_variables"
@import "../../styles/_mixins"
@import "../../styles/_keyframes"


.section
    display: grid
    grid-template-columns: 1fr 1fr 
    grid-template-rows: auto
    grid-template-areas: "header header" "icon text" "icon text--secondary" "icon text--secondary" "icon text--secondary" "icon text--secondary"  "btn-contact btn-resume"
    justify-items: center
    align-items: center
    +mobile
        grid-template-columns: 1fr
        grid-template-areas: "header" "icon" "text" "text--secondary"  "btn-contact" "btn-resume"
        grid-row-gap: 50px
   
    &__header
        grid-area: header
        place-self: center start
        +header

    &__icon
        grid-area: icon
        height: map-get($icon-size, bigSize)+5px
        width: map-get($icon-size, bigSize)+5px
        position: relative
        top:0
        left:0
        +mobile
            height: map-get($icon-size, bigMobileSize)
            width: map-get($icon-size, bigMobileSize)
        svg
            position: absolute
            top:0
            left:0
            height: map-get($icon-size, bigSize)
            width: map-get($icon-size, bigSize)
            z-index: -1
            +mobile
                height: map-get($icon-size, bigMobileSize)
                width: map-get($icon-size, bigMobileSize)
        &--background
            position: absolute
            top:0
            left:0
            transform: translate(-50px, 50px)
            content: ""
            width: map-get($icon-size, bigSize)
            height: map-get($icon-size, bigSize)
            background: $linear-backround
            background-color: $light-gray
            border-radius: 50%
            z-index: -2
            +mobile
                height: map-get($icon-size, bigMobileSize)
                width: map-get($icon-size, bigMobileSize)
        &--frame
            position: absolute
            top:0
            left:0
            content: ""
            width: map-get($icon-size, bigSize)
            height: map-get($icon-size, bigSize)
            border: 5px solid
            z-index: 1
            +mobile
                height: map-get($icon-size, bigMobileSize)
                width: map-get($icon-size, bigMobileSize)
    &__text
        grid-area: text
        color: $navy-blue
        font-weight: 700
        font-size: $text-header-size
        text-align: justify
        place-self: start center
        +tablet
            padding-right: 50px
        +mobile
            margin: 0 50px
        
    &__text--secondary
        grid-area: text--secondary
        place-self: start center
        +text-secondary
        +tablet
            padding-right: 50px
        +mobile
            margin: 0 50px
    .aboutMe--btn
        height: 200px
        font-size: $icon-text-size
        position: relative
        +mobile
            height: auto
        &:before
            content: ""
            position: absolute
            top: 50%
            transform: (translate(0, -50%))
            left: -5px
            display: block
            border-radius: 30px
            background: $pumpkin
            width: 60px
            height: 60px
            transition: all .2s ease
        &:hover, &:active
            color: $navy-blue
            &:before
                width: calc(100% + 15px)
                background: $pumpkin
            svg
                fill: $navy-blue
                transform: rotate(180deg)
        &-text
            z-index: 1  
        svg
            z-index: 1  
            height: 60px
            width: 60px
            fill: $dark-gray
            transition: all 0.3s linear 
        &:active
            transform: scale(1.04)     
    .btn-icon:first-child
        grid-area: btn-contact
        
    .btn-icon:last-child
        grid-area: btn-resume

.animate
    animation: pulse 5s infinite
            


        
