@import "../../styles/_variables"
@import "../../styles/_mixins"
@import "../../styles/_keyframes"


.section
    display: grid
    grid-template-columns: 1fr 1fr 
    grid-template-rows: auto
    grid-template-areas: "header header" "icon text" "icon text--secondary" "icon text--secondary" "icon text--secondary" "icon text--secondary"  "btn-contact btn-resume"
    justify-items: center
    align-items: center
   
    &__header
        grid-area: header
        place-self: center start
        +header
    &__icon
        grid-area: icon
        height: map-get($icon-size, bigSize)+5px
        width: map-get($icon-size, bigSize)+5px
        position: relative
        svg
            position: absolute
            top:0
            left:0
            height: map-get($icon-size, bigSize)
            width: map-get($icon-size, bigSize)
            z-index: -1
        &::before
            position: absolute
            top:0px
            left:0px
            transform: translate(-50px, 50px)
            content: ""
            width: map-get($icon-size, bigSize)
            height: map-get($icon-size, bigSize)
            background: $linear-backround
            background-color: $light-gray
            border-radius: 50%
            z-index: -2
        &::after
            position: absolute
            top:0px
            left:0px
            content: ""
            width: map-get($icon-size, bigSize)
            height: map-get($icon-size, bigSize)
            border: 5px solid
            z-index: 1
    &__text
        grid-area: text
        font-weight: 700
        font-size: $text-header-size
        text-align: justify
        place-self: start center
        
    &__text--secondary
        grid-area: text--secondary
        place-self: start center
        +text-secondary

    .aboutMe--btn
        height: 200px
        font-size: $icon-text-size
        position: relative
        &:before
            content: ""
            position: absolute
            top: 50%
            transform: (translate(0, -50%))
            left: -5px
            display: block
            border-radius: 30px
            background: rgba($pumpkin,.2)
            width: 60px
            height: 60px
            transition: all .2s ease
        &:hover
            color: $white
            &:before
                width: calc(100% + 15px)
                background: rgba($pumpkin,0.5)
            svg
                fill: $white
                transform: rotate(180deg)
        &-text
            z-index: 1  
        svg
            z-index: 1  
            height: 60px
            width: 60px
            fill: $dark-gray
            transition: all 0.3s linear 
        &:active
            transform: scale(1.04)     
    .btn-icon:first-child
        grid-area: btn-contact
        
    .btn-icon:last-child
        grid-area: btn-resume

.animate
    animation: pulse 5s infinite
            


        
